<%= form_with(model: @tool, local: true) do |form| %>
  <% if @tool.errors.any? %>
    <div class="error-message">
      <%= @tool.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <div>

    <div class="relative my-6">
      <%= form.text_field :name, class: "text-field peer", placeholder: "Name" %>
      <%= form.label :name, class: 'text-field-label' %>
    </div>
    <div class="relative my-6">
      <%= form.text_field :description, class: "text-field peer", placeholder: "Description" %>
      <%= form.label :description, class: 'text-field-label' %>
    </div>
  </div>

  <div>

  </div>

  <%= form.submit value: @is_create ? 'Create Tool' : 'Update Tool', class: "btn-primary-lg" %>
  <%= link_to sanitize("Cancel"), tools_path, class:"btn-secondary-lg" %>

<% end %>