<%= form_with(model: @tool, local: true) do |form| %>

  <% if @tool.errors.any? %>
    <div class="error-message">
      <%= @tool.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>
  <div>

    <div class="relative my-6">
      <%= form.text_field :name, class: "text-field peer", placeholder: "Name", disabled: read_only %>
      <%= form.label :name, class: 'text-field-label' %>
    </div>
    <div class="relative my-6">
      <%= form.text_area :description, class: "text-area peer", placeholder: "Description", disabled: read_only %>
      <%= form.label :description, class: 'text-area-label' %>
    </div>
  </div>



  <% if read_only == false %>
    <div class="mt-10">
      <%= form.submit value: @is_create ? 'Create Tool' : 'Update Tool', class: "btn-primary-lg" %>
      <%= link_to sanitize("Cancel"), tools_path, class: "btn-secondary-lg" %>
    </div>

  <% end %>


<% end %>

<section class="mt-10">

  <%= render 'tools/assigned_user_table', tool: @tool,  users: @tool.users %>
</section>



<% if read_only == false %>
  <section class="mt-10">
    <%= render 'tools/unassigned_user_table', tool: @tool, users: @unassigned_users %>
  </section>
<% end %>
